#day16{

  #container16{

    background-image: url("/public/day16/background.png");
    background-size: 100%;
    image-rendering: pixelated;

    position: absolute;
    --width: calc(90vh * 480 / 248);
    height: 90vh;
    width: var(--width);
    left: calc(50vw - var(--width)/2);
    top: 5vh;


    .chick{
      position: fixed;
      width: calc(90vh * 16 / 248);
      height: calc(90vh * 17 / 248);
      left: calc(var(--x) * 1px);
      top: calc(var(--y) * 1px);
    }

    #solo{
      position: absolute;
      cursor: pointer;
      left: calc(var(--width) * (var(--x) *4.32/480 + 16/480));
      top: calc(90vh * (var(--y) * 2.08/248 + 16/248));

      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

  }

}
