.particle {
  animation: rise 1s ease-in infinite;
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 5em;
  height: 5em;
}
.particle:nth-of-type(1) {
  animation-delay: 0.0214114369s;
  left: calc((100% - 5em) * 0);
}
.particle:nth-of-type(2) {
  animation-delay: 0.8611856937s;
  left: calc((100% - 5em) * 0.01);
}
.particle:nth-of-type(3) {
  animation-delay: 0.8702977068s;
  left: calc((100% - 5em) * 0.02);
}
.particle:nth-of-type(4) {
  animation-delay: 0.9016208429s;
  left: calc((100% - 5em) * 0.03);
}
.particle:nth-of-type(5) {
  animation-delay: 0.1526300834s;
  left: calc((100% - 5em) * 0.04);
}
.particle:nth-of-type(6) {
  animation-delay: 0.2525690124s;
  left: calc((100% - 5em) * 0.05);
}
.particle:nth-of-type(7) {
  animation-delay: 0.1737160783s;
  left: calc((100% - 5em) * 0.06);
}
.particle:nth-of-type(8) {
  animation-delay: 0.1648756244s;
  left: calc((100% - 5em) * 0.07);
}
.particle:nth-of-type(9) {
  animation-delay: 0.9522105908s;
  left: calc((100% - 5em) * 0.08);
}
.particle:nth-of-type(10) {
  animation-delay: 0.9735995572s;
  left: calc((100% - 5em) * 0.09);
}
.particle:nth-of-type(11) {
  animation-delay: 0.2111596479s;
  left: calc((100% - 5em) * 0.1);
}
.particle:nth-of-type(12) {
  animation-delay: 0.7558345615s;
  left: calc((100% - 5em) * 0.11);
}
.particle:nth-of-type(13) {
  animation-delay: 0.9572948101s;
  left: calc((100% - 5em) * 0.12);
}
.particle:nth-of-type(14) {
  animation-delay: 0.9250021346s;
  left: calc((100% - 5em) * 0.13);
}
.particle:nth-of-type(15) {
  animation-delay: 0.4038852901s;
  left: calc((100% - 5em) * 0.14);
}
.particle:nth-of-type(16) {
  animation-delay: 0.4459931833s;
  left: calc((100% - 5em) * 0.15);
}
.particle:nth-of-type(17) {
  animation-delay: 0.5486872101s;
  left: calc((100% - 5em) * 0.16);
}
.particle:nth-of-type(18) {
  animation-delay: 0.921592038s;
  left: calc((100% - 5em) * 0.17);
}
.particle:nth-of-type(19) {
  animation-delay: 0.9533850732s;
  left: calc((100% - 5em) * 0.18);
}
.particle:nth-of-type(20) {
  animation-delay: 0.3589982685s;
  left: calc((100% - 5em) * 0.19);
}
.particle:nth-of-type(21) {
  animation-delay: 0.0117086438s;
  left: calc((100% - 5em) * 0.2);
}
.particle:nth-of-type(22) {
  animation-delay: 0.8249066225s;
  left: calc((100% - 5em) * 0.21);
}
.particle:nth-of-type(23) {
  animation-delay: 0.0009671297s;
  left: calc((100% - 5em) * 0.22);
}
.particle:nth-of-type(24) {
  animation-delay: 0.1571445563s;
  left: calc((100% - 5em) * 0.23);
}
.particle:nth-of-type(25) {
  animation-delay: 0.6772661793s;
  left: calc((100% - 5em) * 0.24);
}
.particle:nth-of-type(26) {
  animation-delay: 0.129158597s;
  left: calc((100% - 5em) * 0.25);
}
.particle:nth-of-type(27) {
  animation-delay: 0.658347926s;
  left: calc((100% - 5em) * 0.26);
}
.particle:nth-of-type(28) {
  animation-delay: 0.2644105863s;
  left: calc((100% - 5em) * 0.27);
}
.particle:nth-of-type(29) {
  animation-delay: 0.9705408092s;
  left: calc((100% - 5em) * 0.28);
}
.particle:nth-of-type(30) {
  animation-delay: 0.8910638157s;
  left: calc((100% - 5em) * 0.29);
}
.particle:nth-of-type(31) {
  animation-delay: 0.704238985s;
  left: calc((100% - 5em) * 0.3);
}
.particle:nth-of-type(32) {
  animation-delay: 0.2293832051s;
  left: calc((100% - 5em) * 0.31);
}
.particle:nth-of-type(33) {
  animation-delay: 0.7650145822s;
  left: calc((100% - 5em) * 0.32);
}
.particle:nth-of-type(34) {
  animation-delay: 0.1066374867s;
  left: calc((100% - 5em) * 0.33);
}
.particle:nth-of-type(35) {
  animation-delay: 0.0968173044s;
  left: calc((100% - 5em) * 0.34);
}
.particle:nth-of-type(36) {
  animation-delay: 0.7744618098s;
  left: calc((100% - 5em) * 0.35);
}
.particle:nth-of-type(37) {
  animation-delay: 0.7027962537s;
  left: calc((100% - 5em) * 0.36);
}
.particle:nth-of-type(38) {
  animation-delay: 0.3552578074s;
  left: calc((100% - 5em) * 0.37);
}
.particle:nth-of-type(39) {
  animation-delay: 0.0497548643s;
  left: calc((100% - 5em) * 0.38);
}
.particle:nth-of-type(40) {
  animation-delay: 0.3186733768s;
  left: calc((100% - 5em) * 0.39);
}
.particle:nth-of-type(41) {
  animation-delay: 0.787529238s;
  left: calc((100% - 5em) * 0.4);
}
.particle:nth-of-type(42) {
  animation-delay: 0.7701366166s;
  left: calc((100% - 5em) * 0.41);
}
.particle:nth-of-type(43) {
  animation-delay: 0.558681352s;
  left: calc((100% - 5em) * 0.42);
}
.particle:nth-of-type(44) {
  animation-delay: 0.8411130496s;
  left: calc((100% - 5em) * 0.43);
}
.particle:nth-of-type(45) {
  animation-delay: 0.1983835309s;
  left: calc((100% - 5em) * 0.44);
}
.particle:nth-of-type(46) {
  animation-delay: 0.009681826s;
  left: calc((100% - 5em) * 0.45);
}
.particle:nth-of-type(47) {
  animation-delay: 0.6041007699s;
  left: calc((100% - 5em) * 0.46);
}
.particle:nth-of-type(48) {
  animation-delay: 0.0318344148s;
  left: calc((100% - 5em) * 0.47);
}
.particle:nth-of-type(49) {
  animation-delay: 0.8741073937s;
  left: calc((100% - 5em) * 0.48);
}
.particle:nth-of-type(50) {
  animation-delay: 0.3706386676s;
  left: calc((100% - 5em) * 0.49);
}
.particle:nth-of-type(51) {
  animation-delay: 0.4396337374s;
  left: calc((100% - 5em) * 0.5);
}
.particle:nth-of-type(52) {
  animation-delay: 0.0379703745s;
  left: calc((100% - 5em) * 0.51);
}
.particle:nth-of-type(53) {
  animation-delay: 0.1552687029s;
  left: calc((100% - 5em) * 0.52);
}
.particle:nth-of-type(54) {
  animation-delay: 0.6790959842s;
  left: calc((100% - 5em) * 0.53);
}
.particle:nth-of-type(55) {
  animation-delay: 0.9811982791s;
  left: calc((100% - 5em) * 0.54);
}
.particle:nth-of-type(56) {
  animation-delay: 0.429896216s;
  left: calc((100% - 5em) * 0.55);
}
.particle:nth-of-type(57) {
  animation-delay: 0.7827011685s;
  left: calc((100% - 5em) * 0.56);
}
.particle:nth-of-type(58) {
  animation-delay: 0.980602911s;
  left: calc((100% - 5em) * 0.57);
}
.particle:nth-of-type(59) {
  animation-delay: 0.0524769948s;
  left: calc((100% - 5em) * 0.58);
}
.particle:nth-of-type(60) {
  animation-delay: 0.3555000979s;
  left: calc((100% - 5em) * 0.59);
}
.particle:nth-of-type(61) {
  animation-delay: 0.3770302099s;
  left: calc((100% - 5em) * 0.6);
}
.particle:nth-of-type(62) {
  animation-delay: 0.6815732215s;
  left: calc((100% - 5em) * 0.61);
}
.particle:nth-of-type(63) {
  animation-delay: 0.7600645045s;
  left: calc((100% - 5em) * 0.62);
}
.particle:nth-of-type(64) {
  animation-delay: 0.3262807904s;
  left: calc((100% - 5em) * 0.63);
}
.particle:nth-of-type(65) {
  animation-delay: 0.7308894531s;
  left: calc((100% - 5em) * 0.64);
}
.particle:nth-of-type(66) {
  animation-delay: 0.0194312941s;
  left: calc((100% - 5em) * 0.65);
}
.particle:nth-of-type(67) {
  animation-delay: 0.006642246s;
  left: calc((100% - 5em) * 0.66);
}
.particle:nth-of-type(68) {
  animation-delay: 0.1019456752s;
  left: calc((100% - 5em) * 0.67);
}
.particle:nth-of-type(69) {
  animation-delay: 0.2408893517s;
  left: calc((100% - 5em) * 0.68);
}
.particle:nth-of-type(70) {
  animation-delay: 0.6336026007s;
  left: calc((100% - 5em) * 0.69);
}
.particle:nth-of-type(71) {
  animation-delay: 0.512909062s;
  left: calc((100% - 5em) * 0.7);
}
.particle:nth-of-type(72) {
  animation-delay: 0.9725857509s;
  left: calc((100% - 5em) * 0.71);
}
.particle:nth-of-type(73) {
  animation-delay: 0.8764953296s;
  left: calc((100% - 5em) * 0.72);
}
.particle:nth-of-type(74) {
  animation-delay: 0.2055258912s;
  left: calc((100% - 5em) * 0.73);
}
.particle:nth-of-type(75) {
  animation-delay: 0.1295920544s;
  left: calc((100% - 5em) * 0.74);
}
.particle:nth-of-type(76) {
  animation-delay: 0.9089695965s;
  left: calc((100% - 5em) * 0.75);
}
.particle:nth-of-type(77) {
  animation-delay: 0.8000748008s;
  left: calc((100% - 5em) * 0.76);
}
.particle:nth-of-type(78) {
  animation-delay: 0.5763771922s;
  left: calc((100% - 5em) * 0.77);
}
.particle:nth-of-type(79) {
  animation-delay: 0.8427314275s;
  left: calc((100% - 5em) * 0.78);
}
.particle:nth-of-type(80) {
  animation-delay: 0.1879534241s;
  left: calc((100% - 5em) * 0.79);
}
.particle:nth-of-type(81) {
  animation-delay: 0.2929333158s;
  left: calc((100% - 5em) * 0.8);
}
.particle:nth-of-type(82) {
  animation-delay: 0.8069906069s;
  left: calc((100% - 5em) * 0.81);
}
.particle:nth-of-type(83) {
  animation-delay: 0.4299333141s;
  left: calc((100% - 5em) * 0.82);
}
.particle:nth-of-type(84) {
  animation-delay: 0.2280140586s;
  left: calc((100% - 5em) * 0.83);
}
.particle:nth-of-type(85) {
  animation-delay: 0.5291034728s;
  left: calc((100% - 5em) * 0.84);
}
.particle:nth-of-type(86) {
  animation-delay: 0.1138121015s;
  left: calc((100% - 5em) * 0.85);
}
.particle:nth-of-type(87) {
  animation-delay: 0.651428391s;
  left: calc((100% - 5em) * 0.86);
}
.particle:nth-of-type(88) {
  animation-delay: 0.9482872317s;
  left: calc((100% - 5em) * 0.87);
}
.particle:nth-of-type(89) {
  animation-delay: 0.8854565159s;
  left: calc((100% - 5em) * 0.88);
}
.particle:nth-of-type(90) {
  animation-delay: 0.4727098936s;
  left: calc((100% - 5em) * 0.89);
}
.particle:nth-of-type(91) {
  animation-delay: 0.741509327s;
  left: calc((100% - 5em) * 0.9);
}
.particle:nth-of-type(92) {
  animation-delay: 0.5206794729s;
  left: calc((100% - 5em) * 0.91);
}
.particle:nth-of-type(93) {
  animation-delay: 0.0409844537s;
  left: calc((100% - 5em) * 0.92);
}
.particle:nth-of-type(94) {
  animation-delay: 0.8383699921s;
  left: calc((100% - 5em) * 0.93);
}
.particle:nth-of-type(95) {
  animation-delay: 0.3843803472s;
  left: calc((100% - 5em) * 0.94);
}
.particle:nth-of-type(96) {
  animation-delay: 0.8025508251s;
  left: calc((100% - 5em) * 0.95);
}
.particle:nth-of-type(97) {
  animation-delay: 0.6331102085s;
  left: calc((100% - 5em) * 0.96);
}
.particle:nth-of-type(98) {
  animation-delay: 0.6071443755s;
  left: calc((100% - 5em) * 0.97);
}
.particle:nth-of-type(99) {
  animation-delay: 0.3364922524s;
  left: calc((100% - 5em) * 0.98);
}
.particle:nth-of-type(100) {
  animation-delay: 0.6224190525s;
  left: calc((100% - 5em) * 0.99);
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
}
.fire-container1 .particle {
  background-image: radial-gradient(#a0a0a0 20%, rgba(255, 80, 0, 0) 70%);
}

.fire-container2 .particle {
  background-image: radial-gradient(#5d5d5d 20%, rgba(160, 160, 160, 0) 70%);
}

/*# sourceMappingURL=Fire.css.map */
