body{
    background-color: #000001;
}

.grid{
    position: absolute;
    top: 5vh;
    width: 80vw;
    left: 10vw;
    display: grid;
    grid-template: repeat(10, 60px) / 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    gap: 10px;
}

.card{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}
