#day14{

  #container14{
    width: 100vw;
    height: 100vh;
    background-color: white;

    #logo{

      position: absolute;
      left: 50vw;
      top: 50vh;
      animation: nintendo-in 4s linear forwards;

      #square{
        display: inline-block;
        background-color: black;
        width: 250px;
        height: 50px;
      }

      #r{
        width: 25px;
        height: 50px;
        image-rendering: pixelated;
      }
    }
  }
}

@keyframes nintendo-in {
  0%{
    transform: translate(-50%, -55vh);
  }
  100%{
    transform: translate(-50%, -50%);

  }
}