#day8{

  #container8{
    display: grid;
    grid-template: 1fr 1fr  / 1fr;

    --screen-width: calc(50vh*256/192);
    position: absolute;
    top: 0;
    height: 100vh;
    width: var(--screen-width);
    left: calc(50vw - var(--screen-width)/2);

    image-rendering: pixelated;
    font-family: "PKMD";
    font-size: calc(var(--screen-width)/16);

    #topscreen{
      background-image: url("/public/day8/top_background.png");
      background-size: 100%;
      position: relative;
      width: 100%;
      height: 100%;

      #footprints{
        --scale-ratio: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        width: calc(var(--screen-width)* 0.2);
        transform: translate(-50%, -50%);
      }

      #temps{
        display: grid;
        grid-template: 1fr / repeat(15, 1fr);
        position: absolute;
        gap: calc(var(--screen-width) * 5/256);
        left: calc(var(--screen-width) * 40/256);
        top: calc(var(--screen-width) * 152/256);
        width: calc(var(--screen-width) * 175/256);

        img{
          width: 100%;
        }
      }

      #manche{
        position: absolute;
        color: white;
        left: calc(var(--screen-width) * 39/256);
        top: calc(var(--screen-width) * 16/256);
        text-shadow: #000000 2px 2px 0px;
      }

      #score{
        position: absolute;
        color: white;
        left: calc(var(--screen-width) * 202/256);
        top: calc(var(--screen-width) * 16/256);
        text-shadow: #000000 2px 2px 0px;
      }

      #highscore{
        position: absolute;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(var(--screen-width) * 144/256);
      }

      #scores{
        color: white;
        position: absolute;
        left: calc(var(--screen-width) * 87/256);
        top: calc(var(--screen-width) * 68/256);
        height: calc(var(--screen-width) * 65/256);
        gap: calc(var(--screen-width) * 4.2/256);
        display: grid;
        grid-template: repeat(5, 1fr) / 1fr;
      }

    }

    #bottomscreen{
      background-image: url("/public/day8/bottom_background.png");
      background-size: 100%;
      position: relative;

      .poke{
        position: absolute;
        width: calc(var(--screen-width) * 118/256);
        height: calc(var(--screen-width) * 70/256);
        cursor: pointer;
      }


      .poke:nth-of-type(1){
        left: calc(var(--screen-width) * 9 /256);
        top: calc(var(--screen-width) * 2/256);
      }


      .poke:nth-of-type(2){
        left: calc(var(--screen-width) * 130/256);
        top: calc(var(--screen-width) * 2/256);
      }


      .poke:nth-of-type(3){
        left: calc(var(--screen-width) * 9/256);
        top: calc(var(--screen-width) * 74/256);
      }


      .poke:nth-of-type(4){
        left: calc(var(--screen-width) * 130/256);
        top: calc(var(--screen-width) * 74/256);
      }


      .pp{
        width: calc(var(--screen-width) * 40/256);
        position: absolute;
        left: calc(var(--screen-width) * 19/256);
        top: calc(var(--screen-width) * 9/256);
      }

      .footprint{
        position: absolute;
        width: calc(var(--screen-width) * 36/256);
        left: calc(var(--screen-width) * 69/256);
        top: calc(var(--screen-width) * 20/256);
      }

      .name{
        font-family: "PKMD";
        font-size: calc(var(--screen-width)/18);
        position: absolute;
        color: white;
        left: calc(var(--screen-width) * 10/256);
        top: calc(var(--screen-width) * 51/256);
        text-shadow: #000000 2px 2px 0px;
      }

      #result{
        position: absolute;
        left: calc(var(--screen-width) * 30/256);
        top: calc(var(--screen-width) * 5/256);
        width: calc(var(--screen-width) * 60/256);
      }

      #text{
        color: white;
        position: absolute;
        left: calc(var(--screen-width) * 20/256);
        top: calc(var(--screen-width) * 153/256);
        width: calc(var(--screen-width) * 220/256);
        text-align: left;
      }

    }
  }


}

@font-face {
  font-family: "PKMD";
  src: url("../../fonts/PKMN-Mystery-Dungeon.ttf") format("truetype");
}