.container4{
    --img-width: 240;
    --img-height: 160;

    --container-width: calc(100vh*var(--img-width)/var(--img-height));
    --container-left: calc(50vw - var(--container-width)/2);

    --figure-names-height: calc(100vh*81/var(--img-height));
    --figure-names-width: calc(var(--container-width)*153/var(--img-width));

    position: fixed;
    height: 100vh;
    width: var(--container-width);
    left: var(--container-left);
}

.container4 img{
    image-rendering: pixelated;
}

.container4 #background{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'TLOZ';
    src:  url('../../fonts/TLOZ-Minish-Cap-A-Link-to-the-Past-Four-Sword.ttf') format('truetype');
}

.container4 #figureNames{
    position: fixed;
    height: var(--figure-names-height);
    width: var(--figure-names-width);

    top: calc(100vh*31/var(--img-height));
    left: calc(var(--container-left) + var(--container-width)*84/var(--img-width));

    display: grid;
    grid-template: repeat(136, 1fr) / 1fr;

    text-align: left;
    vertical-align: middle;
    color: white;
    font-family: TLOZ;

    overflow-y: scroll;
    overflow-x: hidden;
}

.container4 #figureNames::-webkit-scrollbar {
    width: calc(var(--container-width)*9/var(--img-width));
}

/* Track */
.container4 #figureNames::-webkit-scrollbar-track {
    display: none;
}

.container4 #figureNames::-webkit-scrollbar-thumb {
    height: calc(var(--container-width)*4/var(--img-width));
    background-image: url("/public/day4/scroll.png");
    background-size: 100%;
    image-rendering: pixelated;
}

.container4 #figureNames div{
    font-size: calc(var(--figure-names-height)/10);
    position: relative;
}

.container4 #figureNames div span{
    padding-left: calc(var(--container-width)*5/var(--img-width));
    position: relative;
}

.container4 #selection{
    display: flex;
    width: calc(var(--container-width)*143/var(--img-width));
    position: absolute;
}

.container4 .arrow{
    position: fixed;
    left: calc(var(--container-left) + var(--container-width)*228/var(--img-width));

    width: calc(var(--container-width)*7/var(--img-width));
    height: calc(var(--container-width)*5/var(--img-width));
    cursor: pointer;
}

.container4 #up{
    top: calc(100vh*23/var(--img-height));
}

.container4 #down{
    top: calc(100vh*116/var(--img-height));
}

.container4 #scroll{
    position: fixed;
    left: calc(var(--container-left) + var(--container-width)*228/var(--img-width));

    top: calc(100vh*31/var(--img-height) + var(--figure-names-height)*var(--position));
}

.container4 #figure_img{
    position: fixed;
    left: calc(var(--container-left) + var(--container-width)*44/var(--img-width));
    top: calc(100vh*72/var(--img-height));
    --screen-height: 1080;
    transform: translate(-50%, -50%) scale(calc(var(--screen-height)/var(--img-height)));
    max-width: 79px;
    max-height: 80px;
}


.container4 #description::-webkit-scrollbar {
    display: none;
}
.container4 #description{
    position: fixed;
    width: calc(227/var(--img-width)*var(--container-width));
    height: calc(32/var(--img-height)*100vh);

    top: calc(100vh*120/var(--img-height));
    left: calc(var(--container-left) + var(--container-width)*6/var(--img-width));

    font-family: TLOZ;
    font-size: calc(var(--figure-names-height)/10);
    color: #606070;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}
