.particle {
  animation: rise 1s ease-in infinite;
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 5em;
  height: 5em;
}
.particle:nth-of-type(1) {
  animation-delay: 0.6883243793s;
  left: calc((100% - 5em) * 0);
}
.particle:nth-of-type(2) {
  animation-delay: 0.9075236485s;
  left: calc((100% - 5em) * 0.01);
}
.particle:nth-of-type(3) {
  animation-delay: 0.7903902205s;
  left: calc((100% - 5em) * 0.02);
}
.particle:nth-of-type(4) {
  animation-delay: 0.4934303397s;
  left: calc((100% - 5em) * 0.03);
}
.particle:nth-of-type(5) {
  animation-delay: 0.1294767254s;
  left: calc((100% - 5em) * 0.04);
}
.particle:nth-of-type(6) {
  animation-delay: 0.6426339216s;
  left: calc((100% - 5em) * 0.05);
}
.particle:nth-of-type(7) {
  animation-delay: 0.4762798984s;
  left: calc((100% - 5em) * 0.06);
}
.particle:nth-of-type(8) {
  animation-delay: 0.1531649025s;
  left: calc((100% - 5em) * 0.07);
}
.particle:nth-of-type(9) {
  animation-delay: 0.9610636225s;
  left: calc((100% - 5em) * 0.08);
}
.particle:nth-of-type(10) {
  animation-delay: 0.0275567029s;
  left: calc((100% - 5em) * 0.09);
}
.particle:nth-of-type(11) {
  animation-delay: 0.4449154127s;
  left: calc((100% - 5em) * 0.1);
}
.particle:nth-of-type(12) {
  animation-delay: 0.6216305212s;
  left: calc((100% - 5em) * 0.11);
}
.particle:nth-of-type(13) {
  animation-delay: 0.0244719832s;
  left: calc((100% - 5em) * 0.12);
}
.particle:nth-of-type(14) {
  animation-delay: 0.1982816273s;
  left: calc((100% - 5em) * 0.13);
}
.particle:nth-of-type(15) {
  animation-delay: 0.0123747987s;
  left: calc((100% - 5em) * 0.14);
}
.particle:nth-of-type(16) {
  animation-delay: 0.1663774815s;
  left: calc((100% - 5em) * 0.15);
}
.particle:nth-of-type(17) {
  animation-delay: 0.3712528542s;
  left: calc((100% - 5em) * 0.16);
}
.particle:nth-of-type(18) {
  animation-delay: 0.2825820708s;
  left: calc((100% - 5em) * 0.17);
}
.particle:nth-of-type(19) {
  animation-delay: 0.3195481904s;
  left: calc((100% - 5em) * 0.18);
}
.particle:nth-of-type(20) {
  animation-delay: 0.4609348716s;
  left: calc((100% - 5em) * 0.19);
}
.particle:nth-of-type(21) {
  animation-delay: 0.9001819198s;
  left: calc((100% - 5em) * 0.2);
}
.particle:nth-of-type(22) {
  animation-delay: 0.6462219879s;
  left: calc((100% - 5em) * 0.21);
}
.particle:nth-of-type(23) {
  animation-delay: 0.654380798s;
  left: calc((100% - 5em) * 0.22);
}
.particle:nth-of-type(24) {
  animation-delay: 0.502563153s;
  left: calc((100% - 5em) * 0.23);
}
.particle:nth-of-type(25) {
  animation-delay: 0.3235641168s;
  left: calc((100% - 5em) * 0.24);
}
.particle:nth-of-type(26) {
  animation-delay: 0.445445953s;
  left: calc((100% - 5em) * 0.25);
}
.particle:nth-of-type(27) {
  animation-delay: 0.9782471791s;
  left: calc((100% - 5em) * 0.26);
}
.particle:nth-of-type(28) {
  animation-delay: 0.8155707608s;
  left: calc((100% - 5em) * 0.27);
}
.particle:nth-of-type(29) {
  animation-delay: 0.5161675972s;
  left: calc((100% - 5em) * 0.28);
}
.particle:nth-of-type(30) {
  animation-delay: 0.3728172549s;
  left: calc((100% - 5em) * 0.29);
}
.particle:nth-of-type(31) {
  animation-delay: 0.2734501329s;
  left: calc((100% - 5em) * 0.3);
}
.particle:nth-of-type(32) {
  animation-delay: 0.7237341355s;
  left: calc((100% - 5em) * 0.31);
}
.particle:nth-of-type(33) {
  animation-delay: 0.1825894455s;
  left: calc((100% - 5em) * 0.32);
}
.particle:nth-of-type(34) {
  animation-delay: 0.9234371033s;
  left: calc((100% - 5em) * 0.33);
}
.particle:nth-of-type(35) {
  animation-delay: 0.9222364632s;
  left: calc((100% - 5em) * 0.34);
}
.particle:nth-of-type(36) {
  animation-delay: 0.0154158508s;
  left: calc((100% - 5em) * 0.35);
}
.particle:nth-of-type(37) {
  animation-delay: 0.1986016508s;
  left: calc((100% - 5em) * 0.36);
}
.particle:nth-of-type(38) {
  animation-delay: 0.3665274266s;
  left: calc((100% - 5em) * 0.37);
}
.particle:nth-of-type(39) {
  animation-delay: 0.8450235152s;
  left: calc((100% - 5em) * 0.38);
}
.particle:nth-of-type(40) {
  animation-delay: 0.2671411231s;
  left: calc((100% - 5em) * 0.39);
}
.particle:nth-of-type(41) {
  animation-delay: 0.6264797232s;
  left: calc((100% - 5em) * 0.4);
}
.particle:nth-of-type(42) {
  animation-delay: 0.0014173328s;
  left: calc((100% - 5em) * 0.41);
}
.particle:nth-of-type(43) {
  animation-delay: 0.4955215171s;
  left: calc((100% - 5em) * 0.42);
}
.particle:nth-of-type(44) {
  animation-delay: 0.7170488001s;
  left: calc((100% - 5em) * 0.43);
}
.particle:nth-of-type(45) {
  animation-delay: 0.8489827442s;
  left: calc((100% - 5em) * 0.44);
}
.particle:nth-of-type(46) {
  animation-delay: 0.0404903583s;
  left: calc((100% - 5em) * 0.45);
}
.particle:nth-of-type(47) {
  animation-delay: 0.186513229s;
  left: calc((100% - 5em) * 0.46);
}
.particle:nth-of-type(48) {
  animation-delay: 0.3467920572s;
  left: calc((100% - 5em) * 0.47);
}
.particle:nth-of-type(49) {
  animation-delay: 0.5550028275s;
  left: calc((100% - 5em) * 0.48);
}
.particle:nth-of-type(50) {
  animation-delay: 0.5622379834s;
  left: calc((100% - 5em) * 0.49);
}
.particle:nth-of-type(51) {
  animation-delay: 0.9138293847s;
  left: calc((100% - 5em) * 0.5);
}
.particle:nth-of-type(52) {
  animation-delay: 0.3868334369s;
  left: calc((100% - 5em) * 0.51);
}
.particle:nth-of-type(53) {
  animation-delay: 0.8265213341s;
  left: calc((100% - 5em) * 0.52);
}
.particle:nth-of-type(54) {
  animation-delay: 0.2764937908s;
  left: calc((100% - 5em) * 0.53);
}
.particle:nth-of-type(55) {
  animation-delay: 0.8213940099s;
  left: calc((100% - 5em) * 0.54);
}
.particle:nth-of-type(56) {
  animation-delay: 0.3809281772s;
  left: calc((100% - 5em) * 0.55);
}
.particle:nth-of-type(57) {
  animation-delay: 0.1376717403s;
  left: calc((100% - 5em) * 0.56);
}
.particle:nth-of-type(58) {
  animation-delay: 0.4934142525s;
  left: calc((100% - 5em) * 0.57);
}
.particle:nth-of-type(59) {
  animation-delay: 0.0581096011s;
  left: calc((100% - 5em) * 0.58);
}
.particle:nth-of-type(60) {
  animation-delay: 0.7804970252s;
  left: calc((100% - 5em) * 0.59);
}
.particle:nth-of-type(61) {
  animation-delay: 0.4245365995s;
  left: calc((100% - 5em) * 0.6);
}
.particle:nth-of-type(62) {
  animation-delay: 0.987264658s;
  left: calc((100% - 5em) * 0.61);
}
.particle:nth-of-type(63) {
  animation-delay: 0.117290055s;
  left: calc((100% - 5em) * 0.62);
}
.particle:nth-of-type(64) {
  animation-delay: 0.416309216s;
  left: calc((100% - 5em) * 0.63);
}
.particle:nth-of-type(65) {
  animation-delay: 0.9574621205s;
  left: calc((100% - 5em) * 0.64);
}
.particle:nth-of-type(66) {
  animation-delay: 0.5460458476s;
  left: calc((100% - 5em) * 0.65);
}
.particle:nth-of-type(67) {
  animation-delay: 0.2361000449s;
  left: calc((100% - 5em) * 0.66);
}
.particle:nth-of-type(68) {
  animation-delay: 0.500590212s;
  left: calc((100% - 5em) * 0.67);
}
.particle:nth-of-type(69) {
  animation-delay: 0.417365404s;
  left: calc((100% - 5em) * 0.68);
}
.particle:nth-of-type(70) {
  animation-delay: 0.4979219459s;
  left: calc((100% - 5em) * 0.69);
}
.particle:nth-of-type(71) {
  animation-delay: 0.7276704331s;
  left: calc((100% - 5em) * 0.7);
}
.particle:nth-of-type(72) {
  animation-delay: 0.3504522405s;
  left: calc((100% - 5em) * 0.71);
}
.particle:nth-of-type(73) {
  animation-delay: 0.1256685814s;
  left: calc((100% - 5em) * 0.72);
}
.particle:nth-of-type(74) {
  animation-delay: 0.407335205s;
  left: calc((100% - 5em) * 0.73);
}
.particle:nth-of-type(75) {
  animation-delay: 0.3194427304s;
  left: calc((100% - 5em) * 0.74);
}
.particle:nth-of-type(76) {
  animation-delay: 0.9789397043s;
  left: calc((100% - 5em) * 0.75);
}
.particle:nth-of-type(77) {
  animation-delay: 0.8092001567s;
  left: calc((100% - 5em) * 0.76);
}
.particle:nth-of-type(78) {
  animation-delay: 0.0192546346s;
  left: calc((100% - 5em) * 0.77);
}
.particle:nth-of-type(79) {
  animation-delay: 0.3248394438s;
  left: calc((100% - 5em) * 0.78);
}
.particle:nth-of-type(80) {
  animation-delay: 0.6328479709s;
  left: calc((100% - 5em) * 0.79);
}
.particle:nth-of-type(81) {
  animation-delay: 0.3933144572s;
  left: calc((100% - 5em) * 0.8);
}
.particle:nth-of-type(82) {
  animation-delay: 0.9292436501s;
  left: calc((100% - 5em) * 0.81);
}
.particle:nth-of-type(83) {
  animation-delay: 0.1530475466s;
  left: calc((100% - 5em) * 0.82);
}
.particle:nth-of-type(84) {
  animation-delay: 0.2469427631s;
  left: calc((100% - 5em) * 0.83);
}
.particle:nth-of-type(85) {
  animation-delay: 0.7730927745s;
  left: calc((100% - 5em) * 0.84);
}
.particle:nth-of-type(86) {
  animation-delay: 0.2028773264s;
  left: calc((100% - 5em) * 0.85);
}
.particle:nth-of-type(87) {
  animation-delay: 0.7421069597s;
  left: calc((100% - 5em) * 0.86);
}
.particle:nth-of-type(88) {
  animation-delay: 0.6404388228s;
  left: calc((100% - 5em) * 0.87);
}
.particle:nth-of-type(89) {
  animation-delay: 0.9808950457s;
  left: calc((100% - 5em) * 0.88);
}
.particle:nth-of-type(90) {
  animation-delay: 0.8682891124s;
  left: calc((100% - 5em) * 0.89);
}
.particle:nth-of-type(91) {
  animation-delay: 0.1193252392s;
  left: calc((100% - 5em) * 0.9);
}
.particle:nth-of-type(92) {
  animation-delay: 0.646713281s;
  left: calc((100% - 5em) * 0.91);
}
.particle:nth-of-type(93) {
  animation-delay: 0.284073873s;
  left: calc((100% - 5em) * 0.92);
}
.particle:nth-of-type(94) {
  animation-delay: 0.4577699028s;
  left: calc((100% - 5em) * 0.93);
}
.particle:nth-of-type(95) {
  animation-delay: 0.1648096665s;
  left: calc((100% - 5em) * 0.94);
}
.particle:nth-of-type(96) {
  animation-delay: 0.2968433287s;
  left: calc((100% - 5em) * 0.95);
}
.particle:nth-of-type(97) {
  animation-delay: 0.8076539313s;
  left: calc((100% - 5em) * 0.96);
}
.particle:nth-of-type(98) {
  animation-delay: 0.8803795445s;
  left: calc((100% - 5em) * 0.97);
}
.particle:nth-of-type(99) {
  animation-delay: 0.4269680891s;
  left: calc((100% - 5em) * 0.98);
}
.particle:nth-of-type(100) {
  animation-delay: 0.7651196463s;
  left: calc((100% - 5em) * 0.99);
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
}
.fire-container1 .particle {
  background-image: radial-gradient(#a0a0a0 20%, rgba(255, 80, 0, 0) 70%);
}

.fire-container2 .particle {
  background-image: radial-gradient(#5d5d5d 20%, rgba(160, 160, 160, 0) 70%);
}

/*# sourceMappingURL=Fire.css.map */
